<div id='form_entreprise_vide' class="form_entreprise_vide col-md-offset-2 col-md-8">
    <h1>Enregistrer une nouvelle entreprise</h1>

    <form action="stagiaire.php?vue=ajout" method="post" id="form_entreprise">
        <div class="form-group">
            <label>Raison Sociale</label>
            <input class="form-control" type="text" name="nom">
        </div>
        <div class="form-group">
            <label class="col-md-2 col-form-label">Numéro</label>
            <input class="form-control" type="text" name="adnum">
        </div>
        <div class="form-group">
            <label class="col-md-2 col-form-label">Rue</label>
            <input class="form-control" type="text" name="adrue">
        </div>
        <div class="form-group">
            <label class="col-md-2 col-form-label">Code Postal</label>
            <input class="form-control" type="text" name="adcp">
        </div>
        <div class="form-group">
            <label class="col-md-2 col-form-label">Ville</label>
            <input class="form-control" type="text" name="adville">
        </div>
        <div class="form-group">
            <label class="col-md-2 col-form-label">Tel</label>
            <input class="form-control" type="text" name="tel">
        </div>
        <div class="form-group">
            <label class="col-md-2 col-form-label">Mail</label>
            <input class="form-control" type="text" name="mail">
        </div>
        <div class="form-group">
            <label class="col-md-2 col-form-label">Siret</label>
            <input class="form-control" type="text" name="siret">
        </div>
        <div class="form-group">
            <label class="col-md-2 col-form-label">APE</label>
            <input class="form-control" type="text" name="ape">
        </div>
        <button name="form_entreprise_creer" type="submit" class="btn btn-default">Envoyer</button>

    </form>
</div>
